body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    background-color: #0033a0b5;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 1rem;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-logo {
    height: 80px;
    margin-right: 10px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10rem;
}

.navbar-links li {
    position: relative;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navbar-links .active a {
    color: #61dafb;
}


.navbar-links a:hover {
    color: #61dafb;
}


body.dark-mode .navbar-links a:hover {
    color: #61dafb;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.dark-mode-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.dark-mode-toggle:hover {
    color: #61dafb;
}


.light-mode-toggle:hover {
    color: #61dafb;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-title {
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.dropdown-title:hover {
    color: #61dafb;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #282c34;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 200px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.dropdown-content li {
    padding: 0.5rem 1rem;
}

.dropdown-content li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content li a:hover {
    background-color: #61dafb;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.show {
    display: block;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-actions {
        flex-direction: row;
    }

    .dropdown {
        order: -1;
    }
}

body.dark-mode .navbar {
    background-color: #1f1f1f;
}

body.dark-mode .navbar-links a {
    color: #ffffff;
}

body.dark-mode .dark-mode-toggle {
    color: #ffffff;
}